<p id="notice"><%= notice %></p>

<p>
  <strong>Heroe:</strong>
  <%= @voto.heroe %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @voto.mail %>
</p>

<%= link_to 'Edit', edit_voto_path(@voto) %> |
<%= link_to 'Back', votos_path %>
